.recommendedVideos_container{
    /* width: 100vw; */
    background-color: #0f0f0f;
}
.filters{
    width: 100%;
    margin: 1rem 1rem ;
}
.filters > span{
    width: 1rem;
    height: .3rem;
    background-color: #2b2a2ac4;
    gap: 100px;
    padding: 7px 15px;
    margin: 0 1rem;
    margin-top: 10rem;  
    cursor: pointer;
    border-radius: .5rem; 
    color: aliceblue;
    font-size: .9rem;
    font-weight: 700;

}
